article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* GENERAL STYLES */

/* ---variables--- */
:root {
    --primary-color: #232323;
    --accent-color: #fdc800;
    --white-shade: #f8f8f8;
    --background-color: #eaedf4;
    --primary-font: 'Cabin', sans-serif;
    --secondary-font: 'Great Vibes', cursive;

}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--primary-color);
}

.wrapper {
    margin: 0 auto;
    /* border: 2px solid tomato; */
    width: 80%;
    max-width: 1280px;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

img {
    display: block;
    width:100%;
}

.aboutTasty, .iconLinks, .gallery, .aboutCook, .footerMenu {
    padding: 100px 0; 
}

.mainBtn:hover {
    background: rgba(253, 200, 0, 0.2);
    transition: 0.5s;
}

.mainNav ul li a:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

/* HEADER STYLES */

header {
    background: url("../assets/image-1.jpg") fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    /* min-height: 800px; */
}

.logo {
    float: left;
    margin-top: 15px;
}

.logo h2 {
    font-family: var(--secondary-font);
    font-size: 5.5rem;
}

/*---------navigation bar--------*/

.topNav {
    float: right;
}

.topNav .mainNav ul {
    float: right;
    margin: 0;    
}

.topNav .mainNav ul li{
    display: inline-block;
    margin-top: 35px;
}

.topNav a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--primary-color);
}

.topNav .mainNav a {
    margin-left: 28px;
}

/* ----------HAMBURGER Nav bar --------------- */

.hamburger {
    display: none;
    margin-top: 20px;
    font-size: 3.5rem;
}

.hamburger:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

.mobileNav {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: var(--accent-color);
    padding: 150px 25px;
    text-align: center;
    width: 320px;
}

.closed {
    right: -480px;
}

.opened {
    right: 0;
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 3.2rem;
}

.close:hover {
    color: var(--white-shade);
    transition: 0.5s;
}

.mobileNav ul {
    list-style: none;
    padding: 0;
}

.mobileNavLinks {
    margin-bottom: 40px;
}

.mobileNavLinks a:hover {
    color: var(--white-shade);
    border-bottom: 1px solid var(--white-shade);
    transition: 0.5s;
}

.mobileNavLinks li {
    margin-bottom: 10px;
}

.socialList {
    font-size: 2rem;
}

.socialList li {
    margin-bottom: 10px;
}



/*---------welcome--------*/

.welcome {
    text-align: center;
    margin: 218px 0;
}


.welcome p {
    font-size: 3.2rem;
    text-transform: uppercase;
    margin:0 0 -18px 0;
    font-weight: bold;
}

.welcome h1 {
    font-family: var(--secondary-font);
    font-size: 15.5rem;
    margin: 0;
}

/*---------social--------*/

.socialLinks {
    float: right;
    position: absolute;
    right: 66px;
    top: 50%;
    transform: translateY(-50%);
}

.socialLinks i {
    display: block;
    padding-top: 15px;
    color: var(--accent-color);
    font-size: 2rem;
    align-content: center;
}

.socialLinks i:first-child {
    padding-top: 0;
}

.socialLinks .fa-facebook-f {
    padding-left: 15%;
}

/* MAIN STYLES START */

/*---------default styles--------*/

.styledTitle {
    font-family: var(--secondary-font);
    font-size: 4.2rem;
}

main p, a {
    font-size: 1.8rem;
}

/*---------aboutTasty--------*/

section.aboutTasty {
    text-align: center;
    background: var(--background-color);
}


.aboutDescription {
    width: 100%;
    max-width: 797px;
    margin: 0 auto;
}

a.btn {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 16px 38px;
    border: 3px solid var(--accent-color);
    background: var(--accent-color);
    display: inline-block;
}

.aboutTasty p {
    margin: 30px 0;
}

/*---------EXTRA LINKS--------*/

.extraLinks {
    background: var(--primary-color);
    text-align: center;
}

.iconLinks {
    display: inline-block;
}

.extraLinksButton {
    float: left;
    margin-right: 118px;
}

.extraLinksButton:last-child {
    margin-right: 0;
}

.extraLinks a {
    color: var(--white-shade);
}

.extraLinks a:hover {
    color: var(--accent-color);
    transition: 1s ease-in;
}

.extraLinksButton i {
    font-size: 4rem;
}

.extraLinksButton p {
    font-size: 2.4rem;
    padding-top: 33.5px;
    margin: 0;
}

/*---------GALLERY--------*/

.gallery {
    background: var(--white-shade);
}

.galleryImages ul {
    list-style: none;
    padding: 0;
}

.galleryImages ul li {
    float: left;
    margin-right: 40px;
    width: calc(33.3% - (80px / 3));
}

.galleryImages ul li:last-of-type {
    margin-right: 0;
}

.galleryImages img {
    width: 100%;
   
}

/*---------BLOG FEATURED--------*/

.blogFeatured {
    background: var(--background-color);
}

.bigWrapper{
    max-width: 1600px;
    margin: 0 auto;
}

.blog {
    width: 50%;
    float: left;
    text-align: center;
    margin: 95px 0;
}

.blog h2 {
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.blog p {
    font-size: 1.8rem;
    line-height: 1.61;
    padding: 30px 0;
    margin: 0;

}

.leftImage {
    background: url(../assets/image-5.jpg);
}

.rightImage {
    background: url(../assets/image-6.jpg);
}

.blogImage {
    width: 50%;
    float: left;
    background-size: cover;
    background-position: center;
    height: 464px;
}

.leftBlog{
    padding: 0 10% 0 15%;
    float: left;
}


.rightBlog{
    padding: 0 15% 0 10%;
    float: right;
}


/*---------ABOUT THE COOK--------*/

.aboutCook {
    background: var(--white-shade);
    margin: 0 auto;
}

.cookImage {
    float: left;
    padding: 5px 48px 0 0;
    width: calc(33.33% - (24px / 2));
}

.aboutCookInfo{
    width: calc(66.7% - (24px / 2));
    display: inline-block;
}

.aboutCookInfo p{
    line-height: 1.61;
    margin: 30px 0;
}

/*---------FOOTER--------*/

.footerMenu {
    background: var(--primary-color);
    color: var(--white-shade);
}

.footerNav ul, .recentPostsFooter ul {
    list-style: none;
    padding: 0;
}

.footerNav a, .recentPostsFooter a {
    color: var(--white-shade);
}

.footerMenu h3 {
    font-size: 2.4rem;
    font-weight: bold;
}

.footerMenu p {
    font-size: 1.8rem;
    margin: 0;
    line-height: 1.61;
}

button, input, select, textarea {
    font-size: 1.8rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.emailInput::placeholder { 
    color: black;
    opacity: 1; 
}

input {
    border-style: none;
    float: left;
    padding: 18px 38.7px;
}

input[type="email"] {
    width: 60%;
}

input[type=submit] {
    width: 40%;
    background-color: var(--accent-color);
    text-transform: uppercase;
    font-weight: bold;
}

.submitBtn:hover {
    background: rgba(253, 200, 0, 0.2);
    transition: 0.5s;
    color: var(--white-shade);
}

.contactFooter, .pagesFooter, .recentPostsFooter {
    width: 16.66%;
    line-height: 1.61;
    float: left;
}

.pagesFooter a {
    text-transform: uppercase;
}

.pagesFooter a:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

.recentPostsFooter a:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

.stayUpdated {
    float: right;
    width: 50%;
    line-height: 1.61;
    padding-left: 20px;
}

.stayUpdated p {
    padding-bottom: 2%;
}

/*---------MOBILE FOOTER STYLES--------*/

.contactMobile, .pagesMobile {
    display: none;
    text-align: center;
    margin-top: 30px
}

.pagesMobile ul {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;

}

.pagesMobile ul li {
    display: inline;
    font-size: 1.8rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    margin-right: 5px;
}

.pagesMobile ul li:last-of-type {
    margin-right: 0;
}

.pagesMobile ul li a {
    color: var(--white-shade);
}

.pagesMobile ul li a:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

/*---------CopyrightFOOTER--------*/

.copyright {
    clear: both;
    background: #000;
    color: rgba(248,248,248, 0.5);
    padding: 15px 0;
}

.copyright p {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

/* ------------RESPOSIVE LAYOUT----------------- */
@media (max-width: 1410px) {
    .cookImage {
        padding: 42px 48px 42px 0;
    }
}

@media (max-width: 1280px) {
    .cookImage {
        padding: 75px 48px 0 0;
    }
}

@media (max-width: 1140px) {

    .aboutTasty, .iconLinks, .gallery, .aboutCook, .footerMenu {
        padding: 80px 0; 
    }   

    .blog {
        margin: 60px 0;
    }

    .leftBlog{
        padding: 3% 5% 0 10%;
    }

    .rightBlog{
        padding: 3% 10% 0 5%;

    }

    .cookImage {
        padding: 92px 48px 0 0;
    }

    .pagesFooter {
        padding-left: 20px
    }

    input[type="email"] {
        width: 100%;
        float: none;
    }

    input[type=submit] {
        margin-top: 2%;
        float: none;
        width: auto;
    }

    .footerMenu h3 {
        display: inline;
    }

}

@media (max-width: 1120px) {
    .wrapper {
        width: 90%;
    }

    .cookImage {
        padding: 78px 48px 0 0;
    }

    .socialLinks i {
        color: var(--primary-color);
    }

}

@media (max-width: 940px) {

    .aboutTasty, .iconLinks, .gallery, .aboutCook, .footerMenu {
        padding: 60px 0; 
    }   

    .cookImage {
        padding: 120px 48px 0 0;
    }
}

@media (max-width: 768px) {
    .aboutTasty, .iconLinks, .gallery, .aboutCook, .footerMenu {
        padding: 50px 0; 
    }  
    
    .mainNav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .socialLinks {
        display: none;
    }

    .welcome {
        margin: 315px 0;
    }

    .blog {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 50px 5%;
    }
    
    .leftBlog {
        float: none;
    }

    .blogImage {
        float: none;
        width: 100%;
        height: 350px;
    }

    .rightBlog {
        float: none;
    }

    .cookImage {
        float: none;
        padding: 0;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .aboutCookInfo {
        float: none;
        width: 100%;
        text-align: center;
    }

    .aboutCookInfo p {
        text-align: left;
    }

    .contactFooter, .pagesFooter, .recentPostsFooter {
        display: none;
    }

    .stayUpdated {
        float: none;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .footerMenu h3 {
        border-bottom: none;
    }

    input[type="email"] {
        text-align: center;
    }

    .contactMobile, .pagesMobile {
        display: block;
    }

    .mobileNav {
        display: block;
    }


}

@media (max-width: 480px) {
    .welcome {
        margin: 150px 0;
    }

    .welcome h1 {
        font-size: 9rem;
    }

    .welcome p {
        font-size: 2.2rem;
        margin: 0 0 -9px 0;
    }

    .extraLinksButton {
        float: none;
        margin: 0 0 50px 0;
        text-align: center;
    }

    .extraLinksButton:last-of-type {
        margin-bottom: 0;
    }

    .extraLinks p {
        padding-top: 13.5px;
    }

    .gallery {
        padding: 0;
    }

    .gallery .wrapper {
        width: 100%;
    }

    .galleryImages ul li{
        margin-right: 0;
        width: 50%;
    }

    .galleryImages ul li:last-of-type {
        display: none;
    }

    .blogImage {
        height: 217.5px;
    }

    .cookImage {
        width: 200px;
    }

    input[type="submit"] {
        width: 100%;
    }
    .mobileNav{
        width: 100%;
    }

}










